<!--Page header & Title-->
<section id="page_header">
<div class="page_title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <h2 class="title">Patient Details</h2>
         <div class="page_link"><a href="index.html">Patient List</a><i class="fa fa-long-arrow-right"></i><span>Patient Details</span></div>
      </div>
    </div>
  </div>
</div>  
</section>

<section id="service" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <!-- <h2 class="heading">Medical Services</h2> -->
      <hr class="heading_space">
      <div class="service_wrapper">
      <ul class="items">
        <li>
          <a href="#" class="expanded">Patient Info</a>
          <ul class="sub-items bg_grey" style="display:block;">
            <li>
              <div class="row">
                <div class="col-md-9 col-sm-8 accordion-text">
                  <h4 style="display:inline-block;margin-right:10px;">Patient Name:</h4><p class="half_space" style="display:inline-block;">Orestes Garcia</p>
                  <br>
                  <h4 style="display:inline-block;margin-right:10px;">Birthday:</h4><p class="half_space" style="display:inline-block;">Orestes Garcia</p>
                  <br>
                  <h4 style="display:inline-block;margin-right:10px;">Address:</h4><p class="half_space" style="display:inline-block;">Orestes Garcia</p>
                  <br>
                  <h4 style="display:inline-block;margin-right:10px;">Email:</h4><p class="half_space" style="display:inline-block;">Orestes Garcia</p>
                  <br>
                  <h4 style="display:inline-block;margin-right:10px;">Phone Number:</h4><p class="half_space" style="display:inline-block;">Orestes Garcia</p>
                  <h4>Important</h4>
                  <p>
                    The Patient Information Form is used to collect demographic information as well as all medical events and problems a person has experienced. 
                    It is an important tool in the management of the patient. The Web app must define a screen where the user enters this information.
                  </p>
                </div>
                <div class="col-md-3 col-sm-4 accordion-image">
                  <img src="../../assets/images/service-doctor.jpg" class="img-responsive">
                  <div class="image_caption">
                   <h4>Orestes Garcia</h4>
                   <small>Radiologist</small>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Previous Medical Record and Physical Examination.</a>
          <ul class="sub-items bg_grey">
            <li>
              <div class="row">
                <div class="col-md-12 accordion-text">
                  <h4>Reproductive Endocrinology</h4>
                  <p class="half_space">
                    Previous information concerning to a patient and his or her health care. (Rx and Labs). 
                    The prior medical record may contain sufficient, accurate information to identify the 
                    patient, support the diagnosis, and justify the treatment. 
                    In this phase the Doctor must do a physical examination to the patient which data have 
                    to be entered to the application by a scanning method.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Medication List.</a>
          <ul class="sub-items bg_grey">
            <li>
              <div class="row">
                <div class="col-md-9 col-sm-8 accordion-text">
                  <h4>Reproductive Endocrinology</h4>
                  <p class="half_space">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
                  ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <h4>Neurology</h4>
                  <p class="half_space">standard dummy text ever since the 1500s, when an unknown printer took a galley of  a type specimen book. type and 
                  scrambled it to make.</p>
                  <h4>For disabled</h4>
                  <p class="half_space">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its 
                  layout. The point of using Lorem Ipsum.</p>
                  <h4>Blood Bank</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
                  ever since the 1500s.</p>
                </div>
                <div class="col-md-3 col-sm-4 accordion-image">
                  <!-- <img src="images/service-doctor.jpg" class="img-responsive">
                  <div class="image_caption">
                   <h4>Lisa Starborn</h4>
                   <small>Radiologist</small>
                  </div> -->
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Patient Condition.</a>
          <ul class="sub-items bg_grey">
            <li>
              <div class="row">
                <div class="col-md-9 col-sm-8 accordion-text">
                  <h4>Type Of Patient Condition:</h4>
                  <p class="half_space">
                    

                  </p>
                  <h4>Specific Test Condition</h4>
                  <p class="half_space">
                    The information of these specific tests are the base of the data that is going to be 
                    stored in the application database. The results of these test are going to be entered 
                    manually in the app by the users.                  
                  </p>

                </div>
                <!-- <div class="col-md-3 col-sm-4 accordion-image">
                  <img src="images/service-doctor.jpg" class="img-responsive">
                  <div class="image_caption">
                   <h4>Lisa Starborn</h4>
                   <small>Radiologist</small>
                  </div>
                </div> -->
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Informed Consent.</a>
          <ul class="sub-items bg_grey">
            <li>
              <div class="row">
                <div class="col-md-12 accordion-text">
                  <!-- <h4>Reproductive Endocrinology</h4> -->
                  <p class="half_space">
                    It is a process for getting permission before conducting the type of procedure 
                    and the delivery method on a patient. The health care provider must ask the patient
                    to consent to receive therapy before providing it. Informed consent is collected 
                    according to guidelines from the fields of medical ethics and research ethics. 
                    The informed consent is going to be entered to the app by a scanning method once 
                    the patient has signed.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Procedures applied to the patient.</a>
          <ul class="sub-items bg_grey">
            <li>
              <div class="row">
                <div class="col-md-12 accordion-text">
                  <!-- <h4>Reproductive Endocrinology</h4> -->
                  <p class="half_space">
                    
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Stem cell delivery method.</a>
          <ul class="sub-items bg_grey">
            <li>
              <div class="row">
                <div class="col-md-12 accordion-text">
                  <!-- <h4>Reproductive Endocrinology</h4> -->
                  <p class="half_space">
                    
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Follow Up.</a>
          <ul class="sub-items bg_grey">
            <li>
              <div class="row">
                <div class="col-md-12 accordion-text">
                  <!-- <h4>Reproductive Endocrinology</h4> -->
                  <p class="half_space">
                    
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
      </div>
    </div>
  </div>
</section>

