<!--Page header & Title-->
<section id="page_header">
    <div class="page_title">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title">Patient Condition Report Details</h2>
            <div class="page_link"><a [routerLink]="['']">Home</a><i class="fa fa-long-arrow-right"></i><span>Reports</span><i class="fa fa-long-arrow-right"></i><span>Patient Condition Report</span><i class="fa fa-long-arrow-right"></i><span>Details</span></div>
            <!-- Alert if user is not logged in goes here  -->
            <div *ngIf='!theUser' style="padding-top:50px;"  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="alert alert-danger" style="color:white; background-color:red;">
                <strong>Oh snap! </strong>    You are not authorize to see this page.
              </div>
            </div>   
          </div>
        </div>
      </div>
    </div>  
  </section>
