<!--Page header & Title-->
<section id="page_header">
<div class="page_title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <h2 class="title">Patient Record Form</h2>
         <div class="page_link">
         <a [routerLink]="['']">Home</a><i class="fa fa-long-arrow-right"></i><span>Patients</span><i class="fa fa-long-arrow-right"></i><span>Add new Patient</span></div>
          <!-- Alert if user is not logged in goes here  -->
          <div *ngIf='!theUser' style="padding-top:50px;"  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="alert alert-danger" style="color:white; background-color:red;">
              <strong>Oh snap! </strong>    You are not authorize to see this page.
            </div>
          </div> 
      </div>
    </div>
  </div>
</div>  
</section>
<!-- Navigation Patient Form here-->
<section *ngIf='theUser' id="gallery" class="padding-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="work-filter">
            <ul class="text-center">
               <li><a [routerLink]="['/info']" data-filter="all" class="active filter">Patient Info</a></li>
               <li><a href="javascript:;" data-filter=".hod" class="filter">Medical History</a></li>
               <li><a href="javascript:;" data-filter=".heart" class="filter">Medical Record</a></li>
               <li><a href="javascript:;" data-filter=".skin" class="filter">Medication List</a></li>
               <li><a href="javascript:;" data-filter=".health" class="filter">Patient Condition</a></li>
               <li><a href="javascript:;" data-filter="all" class="filter">Standard Lab Result</a></li>
               <li><a href="javascript:;" data-filter=".hod" class="filter">Specific Test Condition</a></li>
               <li><a href="javascript:;" data-filter=".heart" class="filter">Informed Consent</a></li>
               <li><a href="javascript:;" data-filter=".skin" class="filter">Procedures</a></li>
               <li><a href="javascript:;" data-filter=".health" class="filter">Stem cell delivery method</a></li>
               <li><a href="javascript:;" data-filter=".health" class="filter">Follow Up</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>
<router-outlet></router-outlet>

