<!--Page header & Title-->
<section id="page_header">
<div class="page_title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <h2 class="title">Patient Record Form</h2>
         <div class="page_link">
         <a [routerLink]="['']">Home</a><i class="fa fa-long-arrow-right"></i><span>Patients</span><i class="fa fa-long-arrow-right"></i><span>Add new Patient</span></div>
          <!-- Alert if user is not logged in goes here  -->
          <div *ngIf='!theUser' style="padding-top:50px;"  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="alert alert-danger" style="color:white; background-color:red;">
              <strong>Oh snap! </strong>    You are not authorize to see this page.
            </div>
          </div> 
      </div>
    </div>
  </div>
</div>  
</section>
<!-- Navigation Patient Form here-->
<section *ngIf='theUser' id="gallery" class="padding-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="work-filter">
            <ol class="text-center">
               <li><a [routerLink] = "['info']" data-filter="all" class="filter">1. Patient Info</a></li>
               <li><a [routerLink] = "['medical']" data-filter=".hod" class="filter">2. Medical History</a></li>
               <li><a [routerLink] = "['physical']" data-filter=".heart" class="filter">3. Physical Examination</a></li>
               <li><a [routerLink] = "['medication']" data-filter=".skin" class="filter">4. Medication List</a></li>
               <li><a [routerLink] = "['condition']" data-filter=".health" class="filter">5. Patient Condition</a></li>
               <li><a [routerLink] = "['lab']" data-filter="all" class="filter">6. Standard Lab Result</a></li>
               <li><a [routerLink] = "['test']" data-filter=".hod" class="filter">7. Specific Test Condition</a></li>
               <li><a [routerLink] = "['consent']" data-filter=".heart" class="filter">8. Informed Consent</a></li>
               <li><a [routerLink] = "['procedure']" data-filter=".skin" class="filter">9. Procedures</a></li>
               <li><a [routerLink] = "['method']" data-filter=".health" class="filter">10. Stem cell delivery method</a></li>
               <li><a [routerLink] = "['follow']" data-filter=".health" class="filter">11. Follow Up</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
</section>
<router-outlet></router-outlet>

