<!--Page header & Title-->
<section id="page_header">
<div class="page_title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <h2 class="title">Sign Up</h2>
         <div class="page_link"><a [routerLink]="['']">Home</a><span><i class="fa fa-long-arrow-right"></i>Signup Form</span></div>
      </div>
    </div>
  </div>
</div>  
</section>

<!--Sign Up Form-->
<section class="padding">
  <div class="container appointment_wrap padding-half">
    <div class="row">
      <div class="col-md-12">
        <h2>User Registration</h2>
        <p style="color:red">**All field are required.</p>
       
        <div class="col-md-7 col-sm-8">
          
          <div class="row">
            <form #signUpForm="ngForm" class="callus" id="signup_form">
              <div class="row">
                
                 <div class="col-md-12">
                    <div id="result" class="text-center form-group"></div>
                 </div>
                
                <div class="col-md-10">
                  <div class="form-group">
                    <input class="form-control" type="text" id="fullname" name="fullname" [(ngModel)]="signupInfo.fullname" placeholder="Your Full Name" required />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input class="form-control" type="text" id="username" name="username" [(ngModel)]="signupInfo.username" placeholder="username" required />
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <input class="form-control" type="password" id="password" name="password" [(ngModel)]="signupInfo.password" placeholder="password" required />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="btn-submit button3">
                      <input type="submit" value="Register" (click)="signup()"/>
                    </div>
                  </div>
                  <!-- ERROR alert goes here -->
                  <div *ngIf='error' class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div class="alert alert-danger" style="color:white; background-color:red;">
                      <strong>Oh snap! </strong>  An error occurred, try again.
                    </div>
                  </div>
                  <div *ngIf='user' class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div class="alert alert-success" style="color:white; background-color:green">
                      <strong>Success Signed Up! </strong> {{ user.fullName }}
                    </div>
                  </div>                  
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-5 col-sm-4"> </div>
      </div>
    </div>
  </div>
</section>