<section *ngIf='theUser' class="padding-bottom">
  <div class="container">
    <div class="row">
      <form #testInfoForm="ngForm" class="callus" onSubmit="return false"  id="app_form">
        <div class="col-md-12">
          <h2 class="heading">Specific Test Condition</h2> 
          <hr class="heading_space">  
        </div>
        <div class="col-md-12">
           <div class="form-group">
            <textarea placeholder="Test Condition" cols="20" id="medical" name="medical" required></textarea>
          </div> 
          <div class="form-group">
              <div class="btn-submit button3">
            <input type="submit" id="btn_app_submit" value="Submit Test" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
